{% extends "core/base.html" %}
{% load static %}

{% block title %}
PiezasXpress | Inventario - Buscar
{% endblock title %}

{% block head %}
<meta name="title" content="PiezasXpress | Iventario - Buscar" />
<meta name="description" content="Buscar inventario por medio de datos identificadores" />

<link rel="stylesheet" href="{% static 'storage/styles/search.css' %}" />
{% endblock head %}

{% block content %}

{% block page_title %}
{% include "core/components/page-title.html" with title="Buscar" %}
{% endblock page_title %}

<section class="has-sidebar flex-column">
  <aside class="sidebar-search flex-row">
    <a href="{% url 'storage-search-autopart' %}" class="tab-anchor">
      <div class="tab">
        <p>Autoparte</p>
      </div>
    </a>
    <a href="{% url 'storage-search-location' %}" class="tab-anchor">
      <div class="tab">
        <p>Ubicación</p>
      </div>
    </a>
    <a href="{% url 'storage-search-stock' %}" class="tab-anchor">
      <div class="tab">
        <p>Stock</p>
      </div>
    </a>
  </aside>

  <section id="search-form-container" class="buscar flex-column">
    {% block search_form %}

    {% endblock search_form %}
  </section>

  <section class="buscar flex-column">
    <div class="nav-buttons flex-row margin-horizontal-right">
      <a href="{% url 'storage-index' %}"
        class="button-anchor button-base button-outline button-padding-medium button-icon-left">
        <svg class="flipped" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 -960 960 960">
          <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
        </svg>
        <p>Regresar</p>
      </a>
    </div>
  </section>
</section>
{% endblock content %}
