{% extends "core/base.html" %}
{% load static %}

{% block title %}
PiezasXpress | Búsqueda de órdenes
{% endblock title %}

{% block head %}
<meta name="title" content="PiezasXpress | Cotización" />
<meta name="description" content="Cotización guardada" />
<link rel="stylesheet" href="{% static 'orders/styles/quotation-bill.css' %}" />
{% endblock head %}

{% block content %}
{% include "core/components/page-title.html" with title="Cotización" %}
<section class="cotizacion-data">
  <h2 class="id">ID de cotización: {{ quotation.id }}</h2>
  <div class="session-data flex-column">
    <p>Fecha: {{ quotation.date|date:"d/m/Y" }}</p>
    <p>Usuario: {{ quotation.user }}</p>
    <p>Nombre de cliente: {{ quotation.client_name }}</p>
  </div>
</section>
<article class="cotizacion-result flex-column">
  <section class="cotizacion-table">
    <div class="scroll-table">
      <table>
        <thead>
          <tr>
            <th scope="col">ID de parte</th>
            <th scope="col">Año</th>
            <th scope="col">Modelo</th>
            <th scope="col">Stock</th>
            <th scope="col">Ubicación</th>
          </tr>
        </thead>
        <tbody>
          {% for car_part in quotation.parts.all %}
          <tr id="{{ car_part.id }}">
            <td>{{ car_part.part.part_id }}</td>
            <td>{{ car_part.car.year }}</td>
            <td>{{ car_part.car.model }}</td>
            <td>{{ car_part.car.stock }}</td>
            <td>{{ car_part.location|default_if_none:'N/A' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  <aside class="cotizacion-options flex-column">
    <h2 class="price">$ {{ total_price }}</h2>
    <div class="nav-buttons margin-horizontal-center flex-row">
      <a href="{% url 'orders-search-order' %}"
        class="button-anchor button-base button-outline button-padding-medium button-icon-left">
        <svg class="flipped" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 -960 960 960">
          <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
        </svg>
        <p>Regresar</p>
      </a>
    </div>
  </aside>
</article>
{% endblock content %}
