.preloader {
  z-index: 100;
  position: fixed;
  display: grid;
  place-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-surface-secondary);
  transition: all 0.4s;
}

.preloader.hidden {
  visibility: hidden;
  opacity: 0;
}



.preloader svg {
  width: 100px;
  fill: var(--color-contrast);
  animation: scale-in-out 1s ease-in-out infinite alternate;
}



@keyframes scale-in-out {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.05);
  }
}
